@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #ac29b8;
    --bs-btn-hover-border-color: #e4eaee;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}


/*  datos sobre colores
--bs-bg-opacity: 0.5; queda estético
--bs-bg-opacity: 1; se ve blanco
--bs-bg-opacity: si no aparece se ve el degradé del fondo
*/

.bg-body-tertiary {
    --bs-bg-opacity: 0.5;
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity))!important;
}

body {
    background-image: linear-gradient(90deg, #020024 0%, #700979 35%, #00d4ff 100%);
    /* font-family: 'Nunito', sans-serif; */
}

.mensaje {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-top: 2.7em;
}

.mensaje img {
    width: 75px;
    height: 70px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 50%;
    float: left;
}

.mensaje img:hover {
    transform: scale(1.2);
    filter: brightness(115%);
}

.mensaje::after {
    content: "";
    clear: both;
    display: table;
}

.contenido-mensaje {
    flex-grow: 1;
}

.contenido-mensaje h3 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.contenido-mensaje p {
    /*mensaje der patricia*/
    font-size: 16px;
    /* background-color: #4b6668; */
    background-color: #363f6e;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    border-radius: 0.5em;
    height: auto;
    width: auto;
    color: #bde2e9;
}

.fecha {
    font-size: 14px;
    color: rgb(0, 0, 0);
}


/* mensaje dos TÚ */

.mensaje2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: flex-end;
    /* Nueva propiedad */
    margin-left: 20px;
}

.mensaje2 img {
    width: auto;
    height: 70px;
    margin-right: 30px;
    /* aumenta y queda mas espacio lado derecho */
    /* aumenta y queda más espacio lado izquierdo del mensaje */
    margin-left: 30px;
    border-radius: 50%;
}

.mensaje2 img:hover {
    transform: scale(1.2);
    filter: brightness(120%);
}

.contenido-mensaje-two {
    flex-grow: 1;
    color: #000000;
    padding: 30px;
    border-radius: 10px;
    line-height: 1.5;
    border-radius: 0.5em;
}

.contenido-mensaje-two h3 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}


/* aquamariune antes, cambio de color mensaje TÚ*/

.contenido-mensaje-two p {
    margin: 5px 0;
    font-size: 16px;
    background-color: #9c6baf;
    padding: 1em;
    line-height: 1.5;
    border-radius: 0.5em;
    color: #bde2e9;
}

.fecha2 {
    font-size: 14px;
    color: #000000;
    display: flex;
    justify-content: flex-end;
    border: #5a23c8;
}


/* .contenido-mensaje-l p {
    background-color: #a51e1e;
    border-radius: 0.5em;
} */


/* mensajes lado izquierdo 
patricia torres, a la izquierda
*/

.mensaje-left {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.mensaje-left img {
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 50%;
}

.mensaje-left img:hover {
    transform: scale(1.2);
    filter: brightness(120%);
}

.contenido-mensaje-left {
    display: flex-end;
    flex-grow: 0.7;
}

.contenido-mensaje-left h3 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.contenido-mensaje-left p {
    margin: 5px;
    font-size: 16px;
    /* AZUL LADO IZQUIERDO*/
    background-color: #363f6e;
    padding: 1em;
    border-radius: 0.5em;
    color: #bde2e9;
}

.fecha-left {
    font-size: 14px;
    color: #000000;
    /* ac29b8   */
}


/* 

para clase Pepito
*/

.mensaje-left-pepito {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: rgb(52, 206, 38);
}

.mensaje-left-pepito:hover {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.mensaje-left-pepito:active {
    font-weight: normal;
    color: rgb(0, 0, 0);
}

.mensaje-left-pepito img {
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 50%;
}

.mensaje-left-pepito img:hover {
    transform: scale(1.2);
    filter: brightness(130%);
}

.contenido-mensaje-left-pepito {
    display: flex-end;
    flex-grow: 0.7;
}

.contenido-mensaje-left-pepito h3 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.contenido-mensaje-left-pepito p {
    font-size: 16px;
    background-color: #98679c;
    padding: 1em;
    border: #107737;
    border-radius: 0.5em;
}

.fecha-left-pepito {
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.mensaje-left-pepito {
    font-weight: normal;
    color: rgb(15, 14, 14);
}

#escribir {
    flex-grow: 1;
    padding: 1em;
    margin-left: 30px;
    border-radius: 0.5em;
}

#btn-buscar {
    background-color: #ac29b8;
    color: #e4eaee;
    /* margin-left: 20px; */
}

#btn-buscar:hover {
    transform: scale(1.12);
    background-color: #5a23c8;
}

#btn-buscar:active {
    transform: scale(1.0);
    background-color: #946be6;
}

#formescribir {
    margin-left: 30px;
}

.li-img:hover {
    transform: scale(1.2);
    filter: brightness(120%);
}

#imgicono:hover {
    transform: scale(1.2);
    filter: brightness(120%);
}

.inputdocument {
    margin-left: 2rem;
}

.file {
    background-color: #ac29b8;
    color: #e4eaee;
}